/*icon next/previous datepicker*/
.ui-datepicker-prev span {
    /*https://image.flaticon.com/icons/svg/130/130882.svg*/
    background-image: url('../../img/arrow-left-chevron.svg') !important;
    background-position: 0px 0px !important;
}

.ui-datepicker-next span {
    /*https://image.flaticon.com/icons/svg/16/16049.svg*/
    background-image: url('../../img/arrow-right-chevron.svg') !important;
    background-position: 0px 0px !important;
}